
@{
    ViewData["Title"] = "Applications";
}
<div ng-controller="SFAppDRToolController" ng-init= "initClusterDetails()">
    <div class="container" style="margin-top: 20px;">

        <h1 class="text-center">Connect to Service Fabric Clusters</h1>

        <div ng-if="clusterCombinations.length > 0">
            <div data-role="panel"
                 data-title-caption="<h4>Configured Clusters</h4>"
                 data-collapsible="true">
                <div ng-repeat="clusterCombination in clusterCombinations">
                    <button class="button success rounded large" style="width : 100%;" ng-click="getAppsOnSelectedCluster(clusterCombination)">{{clusterCombination.item1.address}} –– {{clusterCombination.item2.address}}</button>
                </div>
            </div>
        </div>

        <form>
            <div style="margin-top: 50px;">
                <h2 style="margin-bottom: 20px;" ng-if="clusterCombinations.length > 0" class="text-center">Connect to new clusters:</h2>
                <div style="width: 45%; float: left; margin-right: 30px;">
                    <h2>Primary Cluster</h2>
                    <div class="form-group">
                        <label>Primary Cluster endpoint</label>
                        <input type="text" placeholder="localhost"
                               ng-model="primaryClusterEndpoint"
                               ng-change="updateHTTPEndpoint('primary')"
                               data-role="hint"
                               data-hint-position="left"
                               data-hint-text="Please enter the connection string to connect to your primary cluster." />
                        <small class="text-muted">To connect to the primary cluster</small>
                    </div>
                    <div class="form-group">
                        <label>Primary Cluster HTTP endpoint</label>
                        <input type="text" placeholder="localhost"
                               ng-model="primaryClusterHTTPEndpoint"
                               data-role="hint"
                               data-hint-position="left"
                               data-hint-text="Please enter the HTTP connection string to connect to your primary cluster." />
                        <small class="text-muted">To connect to the primary cluster</small>
                    </div>
                    <div class="form-group">
                        <label>
                            <input type="checkbox" ng-model="primaryUseWindowsCredentials"
                                   data-role="hint"
                                   data-hint-position="left"
                                   data-hint-text="Please select if windows credentials are to be used to connect to the primary cluster." />
                            Use Windows Credentials
                        </label>
                    </div>
                    <div class="form-group">
                        <label>Secure Thumbprint</label>
                        <input type="text" placeholder="012345678901234567890123456789" ng-model="primSecureThumbp" ng-disabled="primaryClusterHTTPEndpoint.includes('http://') || primaryUseWindowsCredentials"
                               data-role="hint"
                               data-hint-position="left"
                               data-hint-text="Please enter the secure certificate thumbprint to connect to your primary cluster." />
                    </div>
                    <div class="form-group">
                        <label>Common Name</label>
                        <input type="text" placeholder="westus.cloudapp.azure.com" ng-model="primaryCommonName" ng-disabled="primaryClusterHTTPEndpoint.includes('http://') || primaryUseWindowsCredentials"
                               data-role="hint"
                               data-hint-position="left"
                               data-hint-text="Please enter the common name of your certificate to connect to your primary cluster." />
                    </div>
                </div>
                <div style="width: 45%; float: right;">
                    <h2>Secondary Cluster</h2>
                    <div class="form-group">
                        <label>Secondary Cluster endpoint</label>
                        <input type="text" placeholder="localhost"
                               ng-model="secondaryClusterEndpoint"
                               ng-change="updateHTTPEndpoint('secondary')"
                               data-role="hint"
                               data-hint-position="left"
                               data-hint-text="Please enter the connection string to connect to your secondary cluster." />
                        <small class="text-muted">To connect to the secondary cluster</small>
                    </div>
                    <div class="form-group">
                        <label>Secondary Cluster HTTP endpoint</label>
                        <input type="text" placeholder="localhost" ng-model="secondaryClusterHTTPEndpoint"
                               data-role="hint"
                               data-hint-position="left"
                               data-hint-text="Please enter the HTTP connection string to connect to your secondary cluster." />
                        <small class="text-muted">To connect to the secondary cluster</small>
                    </div>
                    <div class="form-group">
                        <label data-role="hint"
                               data-hint-position="left"
                               data-hint-text="Please select if windows credentials are to be used to connect to the primary cluster.">
                            <input type="checkbox" ng-model="secondaryUseWindowsCredentials" />
                            Use Windows Credentials
                        </label>
                    </div>
                    <div class="form-group">
                        <label>Secure Thumbprint</label>
                        <input type="text" placeholder="012345678901234567890123456789" ng-model="secSecureThumbp" ng-disabled="secondaryClusterHTTPEndpoint.includes('http://') || secondaryUseWindowsCredentials"
                               data-role="hint"
                               data-hint-position="left"
                               data-hint-text="Please enter the secure certificate thumbprint to connect to your secondary cluster." />
                    </div>
                    <div class="form-group">
                        <label>Common Name</label>
                        <input type="text" placeholder="westus.cloudapp.azure.com" ng-model="secondaryCommonName" ng-disabled="secondaryClusterHTTPEndpoint.includes('http://') || secondaryUseWindowsCredentials"
                               data-role="hint"
                               data-hint-position="left"
                               data-hint-text="Please enter the common name of your certificate to connect to your secondary cluster." />
                    </div>
                </div>
            </div>
            <div style="clear: both; display: block"></div>
            <div class="form-group">
                <button id="clusterConfigButton" ng-click="getAppsOnPrimaryCluster()" class="button success">Next</button>
            </div>
            <!-- <button ng-click="getAppsOnPrimaryCluster()" class="button success">Get Apps</button> -->
        </form>

    </div>
</div>

