@{
    ViewData["Title"] = "Service Fabric SFAppDRTool Application";
}

<div ng-controller="SFAppDRToolController">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-8 col-xs-offset-2 text-center">
                <h2>SF App Disaster Recovery Tool</h2>
            </div>
        </div>

        <hr />

    </div>
</div>