
@{
    ViewData["Title"] = "ServiceConfigureModal";
}


<div ng-controller="SFAppDRToolController" ng-init= "refresh()">
    <div class="container" style="margin-top: 20px;">
        <h1 class="text-center" style="margin-bottom: 10px;">SF Application Disaster Recovery Tool</h1>
        <div ng-if="splashLoad" style="margin: 0 auto;" data-role="activity" data-type="ring" data-style="dark"></div>
        <h2 ng-if="!splashLoad">Applications</h2>
        <div ng-repeat="appName in appsKeys">
            <div data-role="panel"
                 data-title-caption="<h4>{{appName}}</h4>"
                 data-collapsible="true">
                <button style="width: 100% !important;" class="button rounded success large"
                        ng-click="openAppPolicyModal(appName)">
                    Configure {{appName}} for DR
                </button>
                <div style="margin-top: 10px; border-bottom: 1px solid #dfdfdf;">
                    <h6>Configure Individual Services</h6>
                </div>
                <table class="table table-striped row-hower" style="width:100%;">
                    <thead>
                        <tr>
                            <th width="50%;">Primary cluster</th>
                            <th>Secondary cluster</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="service in appsData[appName]">
                            <td>
                                <button style="width: 100% !important;" class="button rounded large"
                                        ng-click="openServicePolicyModal(service[0])"
                                        ng-class="{'success' : service[1] == 'Configured',
                                                   'yellow'  : service[1] == 'NotConfigured',
                                                   'alert'   : service[1] == 'NotExist'}">
                                    {{service[0]}}
                                </button>
                            </td>
                            <td ng-if="service[1] == 'Configured'">
                                Service configured for backup on secondary cluster.
                            </td>
                            <td ng-if="service[1] == 'NotConfigured'">
                                Service exists but has not been configured for backup on secondary cluster.
                            </td>
                            <td ng-if="service[1] == 'NotExist'">
                                Service does not exist on secondary cluster and cannot be backed up.
                            </td>
                            <td ng-if="service[1] == 'Stateless'">
                                Stateless service cannot be configured for backup.
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="dialog" data-role="dialog" id="policyConfigModal">
            <div class="dialog-title">Policy Configuration</div>
            
            <div class="dialog-content">
                <div ng-if="serviceConfigLoad" style="margin: 0 auto;" data-role="activity" data-type="ring" data-style="dark"></div>
                <div ng-repeat="policy in policies">
                    <div data-role="panel"
                         data-title-caption="<h5>{{policy.policy}}</h5>"
                         data-collapsible="true"
                         data-collapsed="true">
                        <form>
                            <div class="form-group" ng-if="policy.backupStorage.storageKind == 'AzureBlobStore'">
                                <label>Connection String</label>
                                <input type="text" placeholder="Connection String" ng-model="policy.backupStorage.connectionString" />
                            </div>
                            <div class="form-group" ng-if="policy.backupStorage.storageKind == 'FileShare'">
                                <label>Primary Username</label>
                                <input type="text" placeholder="Primary username" ng-model="policy.backupStorage.primaryUsername" />
                            </div>
                            <div class="form-group" ng-if="policy.backupStorage.storageKind == 'FileShare'">
                                <label>Primary Password</label>
                                <input type="password" placeholder="Primary password" ng-model="policy.backupStorage.primaryPassword" />
                            </div>
                            <div class="form-group" ng-if="policy.backupStorage.storageKind == 'FileShare'">
                                <label>Secondary Username</label>
                                <input type="text" placeholder="Secondary username" ng-model="policy.backupStorage.secondaryUsername" />
                            </div>
                            <div class="form-group" ng-if="policy.backupStorage.storageKind == 'FileShare'">
                                <label>Secondary Password</label>
                                <input type="password" placeholder="Secondary password" ng-model="policy.backupStorage.secondaryPassword" />
                            </div>
                        </form>
                    </div>
                </div>
                <div ng-if="serviceNoPolicyFoundFlag">
                    Could not find any associated policies. Please try again or ensure service has policies configured and exists on secondary cluster.
                </div>
            </div>
            <div class="dialog-actions">
                <button class="button js-dialog-close">Back</button>
                <button class="button success js-dialog-close" ng-if="!serviceConfigLoad && !serviceNoPolicyFoundFlag" ng-click="configureService()">Configure</button>
            </div>
        </div>

        <div class="dialog" data-role="dialog" id="appPolicyConfigModal">
            <div class="dialog-title">Policy Configuration</div>
            <div class="dialog-content">
                <div ng-if="appConfigLoad" style="margin: 0 auto;" data-role="activity" data-type="ring" data-style="dark"></div>
                <div ng-repeat="policy in apppolicies">
                    <div data-role="panel"
                         data-title-caption="<h5>{{policy.policy}}</h5>"
                         data-collapsible="true"
                         data-collapsed="true">
                        <form>
                            <div class="form-group" ng-if="policy.backupStorage.storageKind == 'AzureBlobStore'">
                                <label>Connection String</label>
                                <input type="text" placeholder="Connection String" ng-model="policy.backupStorage.connectionString" />
                            </div>
                            <div class="form-group" ng-if="policy.backupStorage.storageKind == 'FileShare'">
                                <label>Primary Username</label>
                                <input type="text" placeholder="Primary username" ng-model="policy.backupStorage.primaryUsername" />
                            </div>
                            <div class="form-group" ng-if="policy.backupStorage.storageKind == 'FileShare'">
                                <label>Primary Password</label>
                                <input type="password" placeholder="Primary password" ng-model="policy.backupStorage.primaryPassword" />
                            </div>
                            <div class="form-group" ng-if="policy.backupStorage.storageKind == 'FileShare'">
                                <label>Secondary Username</label>
                                <input type="text" placeholder="Secondary username" ng-model="policy.backupStorage.secondaryUsername" />
                            </div>
                            <div class="form-group" ng-if="policy.backupStorage.storageKind == 'FileShare'">
                                <label>Secondary Password</label>
                                <input type="password" placeholder="Secondary password" ng-model="policy.backupStorage.secondaryPassword" />
                            </div>
                        </form>
                    </div>
                </div>
                <div ng-if="appNoPolicyFoundFlag">
                    Could not find any associated policies. Please try again or ensure application has policies configured.
                </div>
            </div>
            <div class="dialog-actions">
                <button class="button js-dialog-close">Back</button>
                <button class="button success js-dialog-close" ng-if="!appConfigLoad && !appNoPolicyFoundFlag" ng-click="configureApplication()">Configure</button>
            </div>
        </div>

        <!-- <div data-role="panel"
         data-title-caption="<h4>Application 1</h4>"
         data-collapsible="true">
        <div>
            <button style="margin-top:10px; width: 100% !important;" class="button rounded success large"
                    onclick="Metro.dialog.open('#demoDialog1')">
                Stateful Service Java 1
            </button>
        </div>
        <div>
            <button style="margin-top:10px; width: 100% !important;" class="button rounded yellow large"
                    onclick="Metro.dialog.open('#demoDialog1')">
                Stateful Service Java 2
            </button>
        </div>

        <div>
            <button style="margin-top:10px; width: 100% !important;" class="button rounded success large"
                    onclick="Metro.dialog.open('#demoDialog1')">
                Actor Service .NET 1
            </button>
        </div>
        <div>
            <button style="margin-top:10px; width: 100% !important; margin-bottom: 0px !important;" class="button rounded alert large"
                    onclick="Metro.dialog.open('#demoDialog1')">
                Actor Service .NET 2
            </button>
        </div>

        <div>
            <button style="margin-top:10px; width: 100% !important;" class="button rounded large"
                    onclick="Metro.dialog.open('#demoDialog1')">
                Stateless Service 1
            </button>
        </div>
    </div>


    <div class="dialog" data-role="dialog" id="demoDialog1">
        <div class="dialog-title">Policy Configuration</div>
        <div class="dialog-content">
            <div data-role="panel"
                 data-title-caption="Policy 1"
                 data-collapsible="true"
                 data-collapsed="true">
                <form>
                    <div class="form-group">
                        <label>Connection String</label>
                        <input type="text" placeholder="Connection String" ng-model="connectionString" />
                    </div>
                    <div class="form-group">
                        <button ng-click="" class="button success">Configure</button>
                    </div>
                </form>
            </div>

            <div data-role="panel"
                 data-title-caption="Policy 2"
                 data-collapsible="true"
                 data-collapsed="true">
                <form>
                    <div class="form-group">
                        <label>Primary Username</label>
                        <input type="text" placeholder="Username" ng-model="primaryUsername" />
                    </div>
                    <div class="form-group">
                        <label>Primary Password</label>
                        <input type="password" placeholder="Password" ng-model="primaryPassword" />
                    </div>
                    <div class="form-group">
                        <label>Secondary Username</label>
                        <input type="text" placeholder="Username" ng-model="secondaryUsername" />
                    </div>
                    <div class="form-group">
                        <label>Secondary Password</label>
                        <input type="password" placeholder="Password" ng-model="secondaryPassword" />
                    </div>
                    <div class="form-group">
                        <button ng-click="" class="button success">Configure</button>
                    </div>
                </form>
            </div>

            <div data-role="panel"
                 data-title-caption="Policy 3"
                 data-collapsible="true"
                 data-collapsed="true">
                <p>Already configured.</p>
            </div>
        </div>
        <div class="dialog-actions">
            <button class="button js-dialog-close">Back</button>
            <button class="button success js-dialog-close" onclick="runToast('Successfully Configured.')">Configure</button>
        </div>
    </div> -->
        <button class="button success" ng-if="!splashLoad">
            <a href="/#!/">Next</a>
        </button>
    </div>
</div>
