<div ng-controller="SFAppDRToolController" ng-init="refresh()">
    <div style="margin-top: 20px;">

        <h1 class="text-center">Backup and Restore status of Service Fabric Applications</h1>

        <div>
            <h2 style="margin-right: 15px; display: inline !important; float: left;">Backup Status</h2>
            <div data-role="hint"
                 data-hint-text="Refresh Rate"
                 style="display: inline !important; float: left; padding-top: 6px;">
                <input data-role="slider"
                       class="ultra-thin"
                       data-hint-mask="$1s"
                       data-hint-always="true"
                       ng-change="updateRefreshRate(refreshRateVal)"
                       ng-model="refreshRateVal"
                       data-value="30"
                       data-min="2" data-max="60"
                       data-size="200"
                       />
            </div>
            <div ng-if="statusLoadingFlag" style="padding-left: 10px; margin-top: 0px; display: inline !important; float: left; width: 33%;" data-role="activity" data-type="ring" data-style="dark"></div>
            <div style="clear: both;"></div>
        </div>
        <div style="clear: both;"></div>
        <div style="width: 100%">
            <h3 ng-if="applicationsServicesStatusKeys.length > 0">Applications: </h3>
            <div ng-if="applicationsServicesStatusKeys.length == 0"
                 ng-init="gotoconfigfromstatus()"></div>
            <div ng-repeat="appName in applicationsServicesStatusKeys">
                <div data-role="panel"
                     data-title-caption="<h4>{{appName}}</h4>"
                     data-collapsible="true"
                     ng-attr-data-cls-title="{{ applicationsServicesStatus[appName]['status'] == 'Failure' ? 'bg-red fg-white' : undefined }}">

                    <h4>Services: </h4>
                    <div ng-repeat="serviceName in applicationToServiceNames[appName]">
                        <div data-role="panel"
                             data-title-caption="<h4>{{serviceName}}</h4>"
                             data-collapsible="true"
                             ng-attr-data-cls-title="{{ applicationsServicesStatus[appName]['data'][serviceName]['status'] == 'Failure' ? 'bg-red fg-white' : undefined }}">

                            <table class="table">
                                <thead>
                                    <tr>
                                        <th class="sortable-column">Primary Cluster</th>
                                        <th class="sortable-column">Primary PartitionId</th>
                                        <th class="sortable-column">Secondary Cluster</th>
                                        <th class="sortable-column">Secondary PartitionId</th>
                                        <th class="sortable-column">Last Backup Restored</th>
                                        <th class="sortable-column">Currently Under Restore</th>
                                        <th class="sortable-column">Latest Backup available</th>
                                        <th class="sortable-column">Restore Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="partitionStatus in applicationsServicesStatus[appName]['data'][serviceName]['data']"
                                        ng-class="{'alert': partitionStatus.restoreState == 'Failure'}">
                                        <td>{{partitionStatus.primaryCluster.address}}</td>
                                        <td>{{partitionStatus.primaryPartitionId}}</td>
                                        <td>{{partitionStatus.secondaryCluster.address}}</td>
                                        <td>{{partitionStatus.secondaryPartitionId}}</td>
                                        <td>{{partitionStatus.lastBackupRestored.backupTime}}({{partitionStatus.lastBackupRestored.backupId}})</td>
                                        <td>{{partitionStatus.currentlyUnderRestore.backupTime}}({{partitionStatus.currentlyUnderRestore.backupId}})</td>
                                        <td>{{partitionStatus.latestBackupAvailable.backupTime}}({{partitionStatus.latestBackupAvailable.backupId}})</td>
                                        <td>{{partitionStatus.restoreState}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
