<div class="container-fluid">
    <div class="modal-header">
        <div class="col-xs-offset-0">
            <h2>{{configuredApp}}</h2>
        </div>
    </div>
    <table class="table table-striped" style="width:100%;">
        <thead>
            <tr>
                <th>ApplicationName</th>
                <th>ServiceName</th>
                <th>Primary Cluster</th>
                <th>Primary PartitionId</th>
                <th>SecondaryCluster</th>
                <th>Secondary PartitionId</th>
                <th>Last Backup Restored</th>
                <th>Currently Under Restore</th>
                <th>Latest Backup available</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="partitionStatus in applicationStatus">
                <td>{{partitionStatus.applicationName}}</td>
                <td>{{partitionStatus.serviceName}}</td>
                <td>{{partitionStatus.primaryCluster.address}}</td>
                <td>{{partitionStatus.primaryPartitionId}}</td>
                <td>{{partitionStatus.secondaryCluster.address}}</td>
                <td>{{partitionStatus.partitionId}}</td>
                <td>{{partitionStatus.lastBackupRestored.backupTime}}({{partitionStatus.lastBackupRestored.backupId}})</td>
                <td>{{partitionStatus.currentlyUnderRestore.backupTime}}({{partitionStatus.currentlyUnderRestore.backupId}})</td>
                <td>{{partitionStatus.latestBackupAvailable.backupTime}}({{partitionStatus.latestBackupAvailable.backupId}})</td>
            </tr>
        </tbody>
    </table>
    <br /> <br />
           <div class="modal-footer">
               <button class="btn btn-warning" type="button" ng-click="disconfigure(configuredApp)">Disconfigure</button>
               <button class="btn btn-danger" type="button" ng-click="cancel('statusModalInstance')">Cancel</button>
           </div>
</div>